builtrightapp.com www.builtrightapp.com {
  root /opt/builtright/client
  gzip

  rewrite {
    regexp .*
    to {path} /
  }
}

api.builtrightapp.com {
  proxy / localhost:3000
}

blog.builtrightapp.com {
  proxy / localhost:3001
}

ratelimit 2 2 minute {
  whitelist 127.0.0.1
  whitelist localhost
  whitelist 0.0.0.0
  ^/dir/app.js
}
