builtrightapp.com www.builtrightapp.com {
  root /opt/builtright/client
  gzip

  rewrite {
    regexp .*
    to {path} /
  }
}

api.builtrightapp.com {
  proxy / localhost:3000
}

blog.builtrightapp.com {
  proxy / localhost:3001
}
