builtrightapp.com www.builtrightapp.com {
  root /opt/builtright/client
  gzip

  proxy /blog localhost:3001 {
    transparent
  }

  rewrite {
    regexp .*
    to {path} /
  }
}

api.builtrightapp.com {
  proxy / localhost:3000
}

blog.builtrightapp.com {
  proxy / localhost:3001
}
